<%- include('partials/header') %>
<div class="img">
<div class="homecontent" >
    <div class="hom">
        <h1>“The soil is the great connector of lives, the source and destination of all. It is the healer and restorer and resurrector, by which disease passes into health, age into youth, death into life. Without proper care for it we can have no community, because without proper care for it we can have no life.”</h1>
    </div>
</div>
</div>
<div class="features">
    <h1 class="text-center">Features</h1>
    <div class="row">
        <div class="col">
            <img class="fe1" src="/image/sell.png" alt="" srcset="">
            <div class="desc">
                <h3 class="text-center">Online trading</h3>
                <p>help farmers to sell their products to consumers directly on online without any market or mediators. On the other hand customers will be benefited from the fresh and genuine products.</p>    
                <div class="text-center">
                    <button class="btn btn-1">Click me</button>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="/image/soil.png" alt="" class="fe1">
            <div class="desc">
                <h3 class="text-center">Soil Testing</h3>
            <p>
                growing crops is the type of soil. So, it is necessary to test the soil and know the most suitable crops and fertilizers to be used. Werovides the online booking of appointment for soil testing in the laboratories. 
            </p>
            <div class="text-center">
                <button class="btn btn-1">Click me</button>
            </div>
            </div>
        </div>
        <div class="col">
            <img src="/image/storage.png" alt="" class="fe1">
            <div class="desc">
                <h3 class="text-center">Locating nearby cold storages</h3>
                <p>Storing the products is really a challenging task for the famers.We makes the process a bit handy by showing the cold storages nearby for storing their crops safe and to sell the product based on rise in the market. </p>
            </div>
            <div class="text-center">
                <button class="btn btn-1">Click me</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img class="fe1" src="/image/weather1.png" alt="" srcset="">
            <div class="desc">
                <h3 class="text-center">Online trading</h3>
                <p>help farmers to sell their products to consumers directly on online without any market or mediators. On the other hand customers will be benefited from the fresh and genuine products.</p>    
                <div class="text-center">
                    <a href="/weatheri"><button class="btn btn-1">Click me</button></a>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="/image/soil.png" alt="" class="fe1">
            <div class="desc">
                <h3 class="text-center">Soil Testing</h3>
            <p>
                growing crops is the type of soil. So, it is necessary to test the soil and know the most suitable crops and fertilizers to be used. Werovides the online booking of appointment for soil testing in the laboratories. 
            </p>
            <div class="text-center">
                <button class="btn btn-1">Click me</button>
            </div>
            </div>
        </div>
        <div class="col">
            <img src="/image/storage.png" alt="" class="fe1">
            <div class="desc">
                <h3 class="text-center">Locating nearby cold storages</h3>
                <p>Storing the products is really a challenging task for the famers.We makes the process a bit handy by showing the cold storages nearby for storing their crops safe and to sell the product based on rise in the market. </p>
            </div>
            <div class="text-center">
                <button class="btn btn-1">Click me</button>
            </div>
        </div>
    </div>
</div>
    
<%- include('partials/footer') %>