<%- include('partials/header') %>
<div class="img">
    <div class="forms">
        <div class="row">
            <% for (let i = 0; i < 7; ++i) { %>
            <div class="col">
                <p><%= weatherdata.list[0].weather[0].description %></p>
                <h1><%= weatherdata.list[i].main.temp %>Celcius</h1>
                <%  var imageURL="https://openweathermap.org/img/wn/"+weatherdata.list[i].weather[0].icon+"@2x.png" %> 
                <img src= <%= imageURL %>>
            </div>
        <% } %>
    </div>
    </div>
</div>