body, html {
    height: 100%;
    margin:0;
}
.img { 
    background-image: url("/image/img2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height:100%;
}

.logo{
    height: 80px;
    width:150px;
}
.navbar{
    padding: 0.2rem;
    height: 0rem;
    min-height:13vh;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 25;
    top: 0;
}
.navbar{
    background-color:rgb(0,0,0,80%) !important;
}
.nav-link{
    color: white !important;
}
.hom{
    position: absolute; /*or fixed*/
    right:150px;
    margin-top:120px ;
    padding: 0 10px;
    width:650px;
    color: white;
    background-color: rgba(92, 89, 89, 0.5);
}
.features{
    padding-top:15px ;
}
.col{
    border: solid darkgreen;
    background-color: #7ee8fa;
    background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%);

    border-radius: 2rem;
    margin: 0 2rem !important;
}
.forms{
    margin-top: 100px !important;
    justify-self: center;
}
.row{
    margin: 0px !important;
}
.fe1{
    width: 100%;
    height: 350px;
    border-radius: 3rem;
    padding: 20px;
}
.desc>h6{
    font-weight: bolder;
}
.desc{
font-size: larger;
}
.btn {
    flex: 1 1 auto;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
   /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
   }
  
  /* Demo Stuff End -> */
  
  /* <- Magic Stuff Start */
  
  .btn:hover {
    background-position: right center; /* change the direction of the change here */
  }
  .btn-1 {
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
  }
@media only screen and (max-width: 760px) {
    .img {
    /* to improve page load speed on mobile internet connections */
    background-image: url('/image/img2.png');
    }
    }
